<div>
  <main>
    <h1>Vue Todo</h1>
    <TodoForm
      :handleSubmit="addTodo"
      :iconSrc="require('@/assets/plus.svg')"
      :isEditing="!!editId"
      :toggleStatus="toggleStatus"
      iconAlt="add todo"
      labelText="add todo"
      v-model="addInputValue"
    />
    <TodoTable
      :deleteTodo="deleteTodo"
      :isEditing="!!editId"
      :setEditId="setEditId"
      :todos="todoList.getTodos()"
      :toggleStatus="toggleStatus"
      v-if="todoList.getTodos().length"
    />
    <EditDialog
      :editInputValue="editInputValue"
      :setEditId="setEditId"
      :updateTask="updateTask"
      v-if="editId"
      v-model="editInputValue"
    />
  </main>
</div>
